<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

    <title>Spam Detector</title>
</head>
<body>
    <h1>Spam Detector</h1>
    <form id="train-form">
        <label for="train-percentage">Train Percentage:</label>
        <input type="number" id="train-percentage" name="train_percentage" min="1" max="99" required>
        <br>
        <label for="feature-extraction">Feature Extraction:</label>
        <select id="feature-extraction" name="feature_extraction">
            <option value="bow">Bag of Words</option>
            <option value="tfidf">TF-IDF</option>
        </select>
        <br>
        <button type="button" onclick="train()">Train</button>
    </form>

    <div id="classification-form" style="display: none;">
        <h2>Classify the following text:</h2>
        <button id="startprediction" type="button" onclick="get_random_text()">Start</button>
        <div id="prediction" style="display: none;">
            <p id="sample-text" style="display: none;"></p>
            <button type="button" onclick="classify('ham')">Ham</button>
            <button type="button" onclick="classify('spam')">Spam</button>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function train() {
            var train_percentage = $("#train-percentage").val();
            var feature_extraction = $("#feature-extraction").val();
            $.ajax({
                url: "/train",
                type: "POST",
                data: {
                    train_percentage: train_percentage,
                    feature_extraction: feature_extraction
                },
                success: function(response) {
                    $("#train-form").hide();
                    $("#classification-form").show();
                    $("#startprediction").show();
                    $("prediction").hide();
                    console.log(response);
                },
                
            });
        }

        function classify(choice) {
            var choice = choice;
            $.ajax({
                url: '/classify',
                type: 'POST',
                data: {
                    choice: choice,
                    sample_text: $("#sample-text").text()
                },
                success: function(response) {
                    console.log(choice);
                },
            })
            $.ajax({
                url: '/classify',
                type: 'GET',
                success: function(response) {
                    console.log(response.prediction)
                },
            })
            $.ajax({
                url: '/get_random_text',
                type: 'GET',
                success: function(response) {
                    $("#sample-text").text(response.sample_text);
                    console.log(response)
                },
            });

        }

        function get_random_text() {
            document.getElementById("startprediction").style.display = "none";
            document.getElementById("prediction").style.display = "block";
            document.getElementById("sample-text").style.display = "block";

            $.ajax({
                url: '/get_random_text',
                type: 'GET',
                success: function(response) {
                    $("#sample-text").text(response.sample_text);
                },
            })
        }
    </script>
</body>
</html>